/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  background-color: whitesmoke;
}
header {
  border-bottom: 0.2rem solid black;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav a {
  border: 0.2rem solid black;
  border-radius: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 3rem;
  font-family: 'PT Sans';
  background-color: lightgray;
}
.introduction {
  border: 0.2rem solid black;
  background-color: lightgray;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction h1 {
  color: purple;
  font-size: 4rem;
  padding: 0.5rem;
  font-family: 'PT Sans';
  text-align: center;
}
.introduction img {
  border: 0.2rem solid black;
  width: 18rem;
  height: 25rem;
  margin-bottom: 2rem;
}
.introduction p {
  font-size: 2rem;
  font-family: 'PT Sans';
  margin-bottom: 2rem;
  text-align: center;
}
.introduction button {
  border: 0.2rem solid black;
  background-color: whitesmoke;
  padding: 1.5rem;
  font-family: 'PT Sans';
  font-size: 1.5rem;
  font-style: bold;
}
.work-and-experience {
  display: flex;
  flex-direction: row;
  font-family: 'PT Sans';
}
.whyhire {
  font-size: 2rem;
  width: 70vw;
  margin: 2rem;
}
.whyhire h2 {
  font-size: 3rem;
  font-style: bold;
  color: purple;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 2rem;
  text-align: center;
}
.whyhire p {
  font-family: 'PT Sans';
  text-align: center;
  margin-bottom: 2rem;
}
.work tr:nth-child(odd) {
  background-color: lightgray;
}
.work th {
  background-color: darkgray;
  border: 0.1rem solid black;
  padding: 1.5rem;
  vertical-align: middle;
  font-style: bold;
}
.work td {
  border: 0.1rem solid black;
  font-size: 1.7rem;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
}
.skills-and-awards {
  width: 30vw;
  margin: 2rem;
  background-color: lavender;
  padding: 2rem;
  font-family: 'PT Sans';
}
.skills-and-awards h2 {
  font-size: 3rem;
  font-style: bold;
  color: purple;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 2rem;
  text-align: center;
  color: black;
}
.skills-and-awards h3 {
  font-size: 1.8rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}
.skills-and-awards ul {
  list-style-type: disc;
  margin: 2rem;
}
.skills-and-awards ul li {
  font-size: 1.6rem;
}
.skills-and-awards h4 {
  font-size: 1.7rem;
  font-weight: bold;
}
